<?xml version="1.0"?>
<config>
    <modules>
        <Jvs_Meeting0501>
            <version>1.0.8</version>
        </Jvs_Meeting0501>
    </modules>
    <global>
        <models>
            <meeting0501>
                <class>Jvs_Meeting0501_Model</class>
            </meeting0501>
        </models>
        <resources>
            <meeting0501_setup>
                <setup>
                    <module>Jvs_Meeting0501</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </meeting0501_setup>
        </resources>
    </global>
</config>
