<?xml version="1.0"?>
<config>
    <modules>
        <Jvs_Meeting0307>
            <version>1.0.0</version>
        </Jvs_Meeting0307>
    </modules>
    <global>
        <helpers>
            <jvs_meeting0307>
                <class>Jvs_Meeting0307_Helper</class>
            </jvs_meeting0307>
        </helpers>
        <blocks>
            <jvs_meeting0307>
                <class>Jvs_Meeting0307_Block</class>
            </jvs_meeting0307>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <jvs_meeting0307>
                    <file>meeting0307.xml</file>
                </jvs_meeting0307>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <jvs_meeting0307>
                    <file>meeting0307.xml</file>
                </jvs_meeting0307>
            </updates>
        </layout>
    </adminhtml>
</config>
