<?xml version="1.0"?>
<config>
    <modules>
        <Jvs_Meeting0401>
            <version>1.0.2</version>
        </Jvs_Meeting0401>
    </modules>
    <global>
        <models>
            <meeting0401>
                <class>Jvs_Meeting0401_Model</class>
                <resourceModel>meeting0401_resource</resourceModel>
            </meeting0401>
            <meeting0401_resource>
                <class>Jvs_Meeting0401_Model_Resource</class>
                <entities>
                    <comment>
                        <table>meeting_comments</table>
                    </comment>
                </entities>
            </meeting0401_resource>
        </models>
        <resources>
            <meeting0401_setup>
                <setup>
                    <module>Jvs_Meeting0401</module>
                </setup>
            </meeting0401_setup>
        </resources>
        <helpers>
            <meeting0401>
                <class>Jvs_Meeting0401_Helper</class>
            </meeting0401>
        </helpers>
        <blocks>
            <meeting0401>
                <class>Jvs_Meeting0401_Block</class>
            </meeting0401>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <meeting0401>
                    <file>meeting0401.xml</file>
                </meeting0401>
            </updates>
        </layout>
        <routers>
            <meeting0401>
                <use>standard</use>
                <args>
                    <module>Jvs_Meeting0401</module>
                    <frontName>meeting0401</frontName>
                </args>
            </meeting0401>
        </routers>
    </frontend>
</config>
